/*Feuille de style de notre site Projet Devops 2019 Eventfoot*/
#bodypa{/*Style du body de la page d'accueil avant connexion*/
    background-image: url("Capture.jpg");
    background-size: 100%;
}

h1{/*Mise en forme des titres de page pour chaque page de notre site*/
    font-size : 80px;
    color : rgb(20, 131, 131);
    font-style : italic;
    text-align: center;  
}

ul{/*liste page d'entrée sur le site (qui décrit les fonctions du site*/
    font-size: 20px;
}

#connex {
    font-size: 25px;
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    text-align: center;
    text-indent: 90px;
}

#soustitre {/*Titre h2 de la page d'inscription-formulaire*/
    text-align: center;
}

footer{
    padding-top: 600px;

}
/*Mise en forme du formulaire et de ses différents champs*/
legend{font-weight: bold;/* Inscription d'en-tête du formulaire*/
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
#section1 { background: rgba(111, 221, 241, 0.192)/*le dernier paramètre permet d'augmenter la transparence du fond*/;
    display:inline-block; 
    font-family: 'Times New Roman', Times, serif; 
    padding:10px;
    font-size: 18px;
    margin-left:445px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgb(11, 133, 133)
}

    
#section1 input{width: 400px;
    height: 20px;
    border-radius: 10px 10px 10px 10px;
    background-origin: border-box;
    box-shadow: rgb(11, 133, 133);
}
        
    
#section1 label {display: inline-block;
    width: 120px;
    padding: 10px 0px 5px 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

#section2 { 
    background: rgba(111, 221, 241, 0.192)/*le dernier paramètre permet d'augmenter la transparence du fond*/;
    display:inline-block; 
    font-family: 'Times New Roman', Times, serif; 
    padding:10px;
    font-size: 18px;
    margin-left:27%;
}
    
#section2 input{width: 400px;
    height: 20px;
    border-radius: 10px 10px 10px 10px;
    background-origin: border-box;
}
        
    
#section2 label {display: inline-block;
    width: 200px;
    padding: 10px 0px 5px 40px;
}
    
#section3{
    background: rgba(111, 221, 241, 0.192);/*le dernier paramètre permet d'augmenter la transparence du fond*/
    width:630px;
    padding: 20px;
    font-size: 18px;
    margin-left:27%;
}
   
.bouton {/*Style du bouton d'envoie du formulaire*/
    background-color: rgb(38, 197, 197);
    box-shadow:1px 1px 1px 1px rgb(20, 131, 131);
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    color:black;
    text-decoration:none;
    border-radius: 150px 150px 150px 150px / 150px 150px 150px 150px;
    margin-left: auto;/* alignement au centre*/
    margin-right: auto;
}

.bouton:hover{/*Style du bouton d'envoie du formulaire*/
    background-color: rgb(10, 102, 102);
    box-shadow:1px 1px 1px 1px rgb(10, 102, 102);
    opacity: 0.8;
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    text-decoration:none;
    border-radius: 150px 150px 150px 150px / 150px 150px 150px 150px;
}

.bouton:active, input[type=reset]:active {/*Style du bouton d'envoie du formulaire*/
    background-color: rgb(20, 131, 131);
    box-shadow:1px 1px 1px 1px rgb(20, 131, 131);
    display:block;
    width:150px;
    line-height:50px;
    text-align: center;
    font-weight: bold;
    color:black;
    text-decoration:none;
    border-radius: 150px 150px 150px 150px / 150px 150px 150px 150px;
   }

/*Mise en page des différents article de la section de la page principale accueil du site*/
section{
    float: left;
    width: 80%;
    height: 600px;
    margin-left: 150px;
    margin-right: auto;
    padding: auto
}


#premier_article{
    float: left;
    width: 50%;
    height: 50%;
    background-color: white;
    outline: 1px solid invert;
}
 
#deuxieme_article{
    float: left;
    width: 50%;
    height: 50%;
    background-color: rgb(185, 216, 183);
    outline: 1px solid invert;
}
    
article
{
    float: left;
    width: 50%;
    height: 50%;
    background-color: rgb(185, 216, 183,0.5);
    outline: 1px solid invert;
} 
 

#carrousel{/*Mise en forme du carrousel sur la page d'organisation de match*/
    position:relative;
    height:200px;
    width: 700px;
    margin:auto;
}

#carrousel ul li{ /*Mise en forme du carrousel permettant de faire défiler les photos des stades/des événements*/
    position: absolute;
    top:0;
    left:o;
}

.button {/*Style du bouton d'envoie du formulaire*/
    background-color: rgb(38, 197, 197);
    box-shadow:1px 1px 1px 1px rgb(20, 131, 131);
    display:block;
    width:200px;
    line-height:50px;
    text-align:center;
    color:black;
    text-decoration:none;
    border-radius: 150px 150px 150px 150px / 150px 150px 150px 150px;
    margin-left: auto;/* alignement au centre*/
    margin-right: auto;
}

.button:hover{/*Style du bouton d'envoie du formulaire*/
    background-color: rgb(10, 102, 102);
    box-shadow:1px 1px 1px 1px rgb(10, 102, 102);
    opacity: 0.8;
    display:block;
    width:200px;
    line-height:50px;
    text-align:center;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    text-decoration:none;
    border-radius: 150px 150px 150px 150px / 150px 150px 150px 150px;
}

.button:active, input[type=reset]:active {/*Style du bouton d'envoie du formulaire*/
    background-color: rgb(20, 131, 131);
    box-shadow:1px 1px 1px 1px rgb(20, 131, 131);
    display:block;
    width:200px;
    line-height:50px;
    text-align: center;
    font-weight: bold;
    color:black;
    text-decoration:none;
    border-radius: 150px 150px 150px 150px / 150px 150px 150px 150px;
   }

.buttonsup {/*Style du bouton suppression match*/
    background-color: rgb(131, 20, 20);
    background-color: rgb(131, 20, 20);
    box-shadow:1px 1px 1px 1px rgb(131, 20, 20);
    display:block;
    width:200px;
    line-height:50px;
    text-align:center;
    color:white;
    text-decoration:none;
    border-radius: 150px 150px 150px 150px / 150px 150px 150px 150px;
    margin-left: auto;/* alignement au centre*/
    margin-right: auto;
}

.buttonsup:hover{/*Style du bouton suppression match*/
    background-color: rgb(131, 20, 20);
    background-color: rgb(224, 53, 53);
    box-shadow:1px 1px 1px 1px rgb(131, 20, 20);
    opacity: 0.8;
    display:block;
    width:200px;
    line-height:50px;
    text-align:center;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    text-decoration:none;
    border-radius: 150px 150px 150px 150px / 150px 150px 150px 150px;
}

.buttonsup:active, input[type=reset]:active {/*Style du bouton suppression match*/
    background-color: rgb(131, 20, 20);
    box-shadow:1px 1px 1px 1px rgb(131, 20, 20);
    display:block;
    width:200px;
    line-height:50px;
    text-align: center;
    font-weight: bold;
    color:whitek;
    text-decoration:none;
    border-radius: 150px 150px 150px 150px / 150px 150px 150px 150px;
   }

#onglets, #onglets ul{
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
    }
#onglets li{
    display:inline-block;
    position:relative;
    width: 200px;
    height: 100x;
    margin: 0%;
    padding: 0px;
    text-align: center;
    line-height: 40px;
    border-right: 1px solid #cccccc;
    border : 1px solid #9EA0A1;
    background-color: black;
    
}

#onglets a:hover{
    background-color: white;
    text-underline-position: below;
}

#onglets ul li{
    display:inherit;
    border-radius:0;
}

#onglets ul li:hover{
    border-radius:0;
}
    
#onglets ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}

#onglets li:hover ul{
    max-height:15em;
}

#onglets li.active{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
/* background des liens menus */


/* background des liens sous menus */
#onglets li:first-child li{
background:black;
    color:rgb(20, 131, 131); 
}
#onglets li:nth-child(2) li{
background:black;
    color:rgb(20, 131, 131); 
}
#onglets li:nth-child(3) li{
background:black;
    color:rgb(20, 131, 131); 
}
#onglets li:last-child li{
background:black;
    color:rgb(20, 131, 131); 
}
/* background des liens menus et sous menus au survol */
#onglets li:first-child:hover, #onglets li:first-child li:hover{
background:white;
}

#ongletsli:nth-child(3):hover, #onglets li:nth-child(3) li:hover{
background:white;
}
#ongletsli:last-child:hover,#onglets li:last-child li:hover{
background:white;
}
/* les a href du menu onglet cliquable du site */
#onglets a{
    text-decoration: none;
    color:rgb(20, 131, 131) ;
    font-weight: bold;
    display : block;
}
#onglets ul a{
    padding:8px 0;
}
#onglets li:hover li a{
    color:#fff;
    text-transform:inherit;
}
#onglets li:hover a, #onglets li li:hover a{
    color:#000;
    color:rgb(20, 131, 131); 
}

.interactifs{/*Style des différentes zone de la page*/
    font-size: 25px;
    font-style: normal;
    color:rgb(6, 45, 129);
}

#section2 select{/*mise en forme de la liste déroulante pour choix terrain*/
    width: 160px;
    padding : 0; /* pas de marge intérieure */
    margin : 0; /* ni extérieure */
    margin-left : 270px; /*centre le menu liste */
    list-style : none; /* on supprime le style par défaut de la liste */
    line-height : 22px; /* on définit une hauteur pour chaque élément */
    text-align : center; /* on centre le texte qui se trouve dans la liste */
}

#section2 #friend{/*mise en forme du bouton d'ajout/suppression d'amis*/
    background-color: rgb(38, 197, 197);
    box-shadow:1px 1px 1px 1px rgb(20, 131, 131);
    width:50px;
}

#section2 #friend:hover{/*mise en forme du bouton d'ajout/suppression d'amis*/
    background-color: rgb(10, 102, 102);
    box-shadow:1px 1px 1px 1px rgb(10, 102, 102);
    opacity: 0.8;
    font-weight: bolder;
}

#section2 #friend:active, input[type=reset]:active {/*mise en forme du bouton d'ajout/suppression d'amis*/
    background-color: rgb(20, 131, 131);
    box-shadow:1px 1px 1px 1px rgb(20, 131, 131);
}
