<!DOCTYPE html>
    <Html>
        <!--Front projet devops-->
        <head>
        <meta charset=utf-8>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet_Projet_devops_2019.css') }}">
        <title>FootEvent - Création d'évènement rencontre football</title>
        </head>
        <body>
            <h1>Matchs</h1>
            <div id="menu">
                <!--Création du menu. Mis à l'horizontal grâce au CSS. Page d'organisation de match-->
                    <ul id="onglets">
                        <li ><a href="{{ url_for('page_principale')}}">Accueil</a></li>
                        <li class="active"><a href="{{ url_for('page_global_matchs')}}">Matchs ▼</a>
                            <ul>
                                <li><a href="{{ url_for('page_mes_matchs')}}">Mes matchs</a></li>
                                <li><a href="{{ url_for('page_organiser_un_match')}}">Création</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ url_for('page_liste_groupes')}}">Mes groupes</a></li>
                        <li><a href="{{ url_for('page_liste_amis')}}">Mes amis</a></li>
                        <li><a href="{{ url_for('page_notifications')}}">Mes notifications</a></li>
                        <li><a href="{{ url_for('page_profil')}}">Mon profil ▼</a>
                            <ul>
                                <li><a href="{{ url_for('page_profil')}}">Configuration</a></li>
                                <li><a href="{{ url_for('sign_out')}}">Déconnexion</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><a href="{{ url_for('page_mes_matchs')}}">Mes matchs</a></li>
                        <li><a href="{{ url_for('page_organiser_un_match')}}">Organiser</a></li>
                    </ul>
                </div>
            <footer>
                <p><a href="mailto: footevent@footevent.com">Nous contacter</a></p>
            </footer>
        </body>
    </Html>
