<!DOCTYPE html>
    <Html>
        <!--Front projet devops-->
        <head>
            <!--Les utilisateurs ne voient pas ces liens-->
            <title>FootEvent - Création d'évènement rencontre football</title>
            <link rel="stylesheet" href="stylesheet_Projet_devops_2019.css">
            <meta charset=utf-8>
        </head>
        <body id=bodypa>
            <h1>Bienvenue sur FootEvent !</h1>
            <h2 id=soustitre>Entrer votre adresse mail afin de recevoir un mail pour réinitialiser votre mot de passe</h2>
            <form method= "post" action = "{{ url_for('mdp_oublie')}}" class="myform">   
                <fieldset id="section1">
                    <legend>Mot de passe oublié</legend>
                    <label for="Adresse_email">Email</label>
                    <input type = "email" name="e_mail" id="Adresse_email" class= case required='required'><br><br>
                </fieldset><br><br><br>
                <input class="bouton" type ="submit" value = "Confirmer">
            </form>
            <p>Pas encore inscrit?<br><a href="http://127.0.0.1:5000/enregistrer_client">Créer un compte</a></p>
            <!--Adresse mail de contact à créer-->
            <footer>
                <p><a href="mailto:footevent@footevent.com">Nous contacter</a></p>
            </footer>
        </body>
    </Html>